<%- include("partials/header.ejs") %>

        <h1 class="jumbotron"> Welcome to the Earth!</h1>
        <img src="/img/earth.jpg" alt="earth" class="planet">
        <hr>
        <p>
            Earth, our home, is the third planet from the sun. It's the only planet
            known to have an atmosphere containing free oxygen,
            oceans of water on its surface and, of course, life.
        </p>
        <p>
            Earth is the fifth largest of the planets in the solar system. 
            It's smaller than the four gas giants — Jupiter, Saturn, Uranus and Neptune —
            but larger than the three other rocky planets, Mercury, Mars and Venus.
        </p>
        <p>
            Earth has a diameter of roughly 8,000 miles (13,000 kilometers) and is round 
            because gravity pulls matter into a ball. But, it's not perfectly round. 
            Earth is really an "oblate spheroid," because its spin causes it to be 
            squashed at its poles and swollen at the equator.
        </p>
        <p>
            Water covers roughly 71 percent of Earth's surface, and most of that is 
            in the oceans. About a fifth of Earth's atmosphere consists of oxygen, produced 
            by plants. While scientists have been studying our planet for centuries, much 
            has been learned in recent decades by studying pictures of Earth from space.
            <br><br>
            Source : <a href="https://www.space.com/54-earth-history-composition-and-atmosphere.html">space.com</a>
        </p>
        
        <hr>
        
<%- include("partials/footer.ejs") %>