<%- include("partials/header.ejs") %>

        <h1 class="jumbotron"> Welcome to Mercury</h1>
        <img src="/img/mercury.jpg" alt="mercury" class="planet">
        <hr>
        <p>
            Along with Venus, Earth, and Mars, Mercury is one of the rocky planets.
            It has a solid surface that is covered with craters. 
            It has a thin atmosphere, and it doesn’t have any moons. 
            Mercury likes to keep things simple.
        </p>
        <p>
            This small planet spins around slowly compared to Earth, so one day 
            lasts a long time. Mercury takes 59 Earth days to make one full rotation.
            A year on Mercury goes by fast. Because it’s the closest planet to the sun,
            it doesn’t take very long to go all the way around. It completes one revolution
            around the sun in just 88 Earth days. If you lived on Mercury, you’d have 
            a birthday every three months!
        </p>
        <p>
            A day on Mercury is not like a day here on Earth. For us, the sun rises 
            and sets each and every day. Because Mercury has a slow spin and short year,
            it takes a long time for the sun to rise and set there. Mercury only has 
            one sunrise every 180 Earth days! Isn't that weird?
            <br><br>
            Source : <a href="https://spaceplace.nasa.gov/all-about-mercury/en/">nasa</a>
        </p>
        
<%- include("partials/footer.ejs") %>