<%- include("partials/header.ejs") %>

        <h1 class="jumbotron"> Welcome to Venus</h1>
        <img src="/img/venus.jpg" alt="venus" class="planet">
        <hr>
        <p>
            Venus is the second planet from the Sun and the sixth-largest. 
            Together with Mercury, they are the only planets without a satellite,
            even though Mercury is closer to the sun, Venus is the hottest planet.
        </p>
        <p>
            It isn’t possible to pinpoint the exact discovery date of Venus. 
            Due to its brightness, it can be easily seen with the naked eye, meaning
            that any ancient civilization could be credited with the first observation. 
            Copernicus, and later Galileo Galilei, are however credited with Venus’s
            classification as a planet while Mikhail Lomonosov has been credited with
            initially discovering the planet’s gaseous atmosphere in 1761. This claim
            was later verified in 1790 by astronomer Johann Schroter. 
        </p>
        <p>
            Though it has been visually observable for as long as mankind can remember,
            the naming of Venus is again a bit of a mystery. Venus received its most 
            popular moniker via a selection of Roman gods and goddesses. Venus was named
            after the Roman goddess of love and beauty, a counterpart to Greek’s Aphrodite.
            It wasn’t always known as such. Ancient Babylonians who recognized Venus for
            example, named it as the Star of Ishtar, their own goddess of fertility, love and war.
            <br><br>
            Source : <a href="https://nineplanets.org/venus/">nineplanets.org</a>
        </p>
        
<%- include("partials/footer.ejs") %>